*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: cursive;

    color: var(--color-text-primary);
}

body {
    margin: 0;

    width: 100%;
}

button {
    margin: 0;
    padding: 0;

    background-color: transparent;
}

figure {
    margin: 0;
    padding: 1em;
}

img {
    width: 100%;

    border: 1px black solid;
}

input,select {
    margin: 0;
    padding: 0;
    
    height: 2em;
    
    border-radius: .5em;
    
}

a {
    text-decoration: none;
    color: var(--color-text-primary);
}
