*,
*::before,
*::after {
    box-sizing: border-box;
}

.debug * {
    outline: 1px solid orange;
}

html {
    font-family: cursive;

    color: var(--color-black-base);
}

body {
    align-items: center;
    margin-block: 10px;
    width: 100%;
}



button {
    padding: .2em;


    font-family: inherit;
    text-align: center;
    background-color: transparent;
}


img {
    width: 100%;

    border: 1px black solid;
}

.emoji-img {
    width: 50px;
    height: 50px;
}

input,
select {
    height: 2em;

    text-align: center;

    border-radius: .5em;
}

a {
    text-decoration: none;
    color: var(--color-black-base);
}

.container {
    grid-column: 1/-1;
}

h2 {
    color: var(--color-primary-1);
}

::placeholder {
    color: var(--color-primary--1);
}

figure {
    max-width: 350px;
    transition: 300ms;
}

.flag-stripe {
    height: 11vh;

    background-color: var(--color-primary-base);

    border-top: 1px var(--color-base-gray) solid;
    border-bottom: 1px var(--color-base-gray) solid;
}

footer {
    grid-column: 1/ -1;
}