*, *::before, *::after{
    box-sizing: border-box;
}

html{
}


body {
    margin: 0;
}

button {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4{
    text-align: center;
    margin: 0 0 1em;
    text-wrap: balance ;
}

figure {
    margin: 0;
    padding: 1em;
}

img, canvas { 
    display: block;
    max-width: 100%;
}
.emoji-img {
border: none;
}
ul, li { 
    list-style: none;
    padding: 0;
}

a {
   text-decoration: none;
   color: inherit;
}

input,select {
    margin: 0;
    padding: 0;
    
    max-width: 100%;
    font: inherit;
}