/* Mobile only */
@media (max-width:735px) {
    html {
        font-size: 1em;
    }

    .main-layout {
        grid-template-columns: 12px 1fr 12px;
    }

    .logo{
        font-size: 2em;
    }

    .main-header {
        font-size: .8em;
    }
            
        
}

/* Medium */
@media (min-width: 780px) {


    .meme-editor {
        display: grid;
        grid-template-columns: minmax(auto-fit, 356px);
    }

    .edit-options {
        grid-column: 2;
        gap: .5em;
    }

}

/* Large  */
@media (min-width: 1000px) {
    .main-layout {
        grid-template-columns: 1fr 90vw 1fr;
    }

    .main-content {
        padding: 1em;
    }

    .main-header {
        padding: 1em 80px;
    }

    .meme-editor {
        grid-template-columns: minmax(auto-fit, 356px);
        padding: .3em;
        gap: 5vw;

    }

    figure {
        max-width: 20vw;
    }
}