/* pallette */

:root {
    /*Colors */

    /* blue Family */

    --color-blue--3: #addcfa;
    --color-blue--2: #7bb5f8;
    --color-blue--1: #187bcd;
    --color-blue-base: #1E90FF;
    --color-blue-1: #002ea0;
    --color-blue-2: #002388;

    /* White Family */

    --color-white--2: #ffffff;
    --color-white--1: #FAFAFA;
    --color-white-base: #f2f5fa;
    --color-white-1: #dfe2e6;
    --color-white-2: #d4d7dc;

    /* Gray Family */

    --color-gray--2: #e5e6e8;
    --color-gray--1: #c7c9ce;
    --color-gray-base: #999ca3;
    --color-gray-1: #6e7177;
    --color-gray-2: #43464a;


    /* Base Colors */
    --color-black-base: #111111;

    /* Generale component styling */
    --border-radios-base: 1em;
    --btn-font-family: cursive;

    /* Break Pointes  */
    /* --L: 1000px;
    --M: 900px;
    --S: 600px; */
}