/* pallette */

:root {
    /*Colors */

    /* Base Colors */
    --color-primary: #1E90FF;
    --color-secondary: #FF69B4;
    --color-background-primary: #FAFAFA;
    --color-text-primary: #111111;
    
    
    /* Specific compounds color */
    --color-button-border: #187bcd; /* Darker version of primary accent */
    --color-component-border: #DDDDDD; /* Light Grey */
    --color-component-background:  #F5F5F5; /* Light Grey */
    --meme-details-background: #E6F7FF;

    --color-footer: #005f99;
    --color-logo: #E0FFFF;

    /* Status Colors */
    --error-color: #FF4040;
    --color-hover-primary: #32CD32;
    
    
    
    /* Generale component styling */
    --border-radios-base: 1em;
    --btn-font-family: cursive;



    --main-background: #FAFAFA;
    --component-background: #F5F5F5; /* NEW */
    --footer-background: #005f99;
    --meme-details-background: #E6F7FF;
    --input-background: #F0F0F0;
        /* Break Pointes */
        /* --L: 1000px;
    --M: 900px;
    --S: 600px; */
}