button {
    font-family:var(--btn-font-family);
    
    padding: .2em;

    border-radius:var(--border-radios-base);
    border-color: var(--color-button-border);
    background-color: var(--color-primary);
}

button:hover {
    background-color: var(--color-primary--1);
}
button .active:hover {
    background-color: var(--error-color);
}
