.Search-bar {
    grid-column: 1/-1;
    gap: 10px;
    padding: 1em;
}

.Search-bar-buttons-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(2,1fr);

    gap: 20px;
}
.Search-bar-buttons-container input{
    grid-column: 1/-1;
}

.search-buttons {
    place-self: center;
    grid-column: 1/-1;
}

.Search-bar-buttons-container input:focus {
    outline: 2px dashed var(--color-blue-base);
}
.Search-bar-buttons-container button:focus {
    outline: 2px dashed var(--color-blue-base);
}

