.meme-editor {
    display: grid;
    /* grid-auto-flow: column; */
    /* grid-template-rows:1fr 1fr; */
    padding: .3em;
}

.edit-options {
    display: grid;
    /* grid-column: 2; */

    justify-items: center;
    align-items: center;

    padding: 1em;
    gap: 1em;


    border-radius: var(--border-radios-base);
    border: 1px var(--color-component-border) dotted;
    background-color: var(--meme-details-background);
}

input.text-color {
    margin-left: 5em;
    height: 20px;
}