.meme-editor {
    display: grid;
    padding: .3em;
    gap: 20px;

}


.canvas-container {
    width: fit-content;
    height: fit-content;
    max-width: 100%;

    border: 1px black solid;

}

.edit-options {
    display: grid;

    justify-items: center;
    align-items: center;
    
    gap: 5px;
    padding: 1em;


    border-radius: var(--border-radios-base);
    border: 1px var(--color-gray-base) dotted;
    background-color: var(--color-blue--3);
}

.line-options,
.text-options,
.inputs,
.set-line-buttons,
.links {
    display: flex;
    gap: 0.5em;         
}

.set-line-buttons,.links {
    gap: 1em
}


.new-color-input {
    width: 20px;
    outline: 1px solid var(--color-wit);
    background-color: aqua;
}

.edit-options button,
a {
    font-size: 1.2em;
}

input.line-text {
    text-align: center;
}
