.meme-editor {
    display: grid;
    grid-template-columns: minmax(40%, 1fr) minmax(auto-fit, 1fr);

    /* width: 80vw; */
    padding: 1em;

    gap: 1em;

border-radius: var(--border-radios-base);
border: 1px black dotted;
    background-color: white;
}

.gallery-header{
    grid-column: 1/-1;
}